const config = {
    admins: ['62125999352975360'],
    prefix: '!', // or use '$mention$' to indicate a mention as prefix, or remove the key to use default ('!')
    discord: {
        token: 'bot token',
        oauthId: '' // optional, if you want to give them the oauth join url thru the !join command
        // OR
        username: 'user',
        password: ''
    }
}

export default config
